body { 
    margin: 0; padding: 0; 
    background: url('math1.jpg') fixed center; background-size: cover; 
    font-family: sans-serif; color: #333; 
}
.overlay { background-color: rgba(255, 255, 255, 0.4); min-height: 100vh; padding: 20px; }

/* Menu Style */
.navbar { 
    background: #800020; display: flex; align-items: center; border-radius: 15px; 
    width: fit-content; padding: 5px 15px; margin-bottom: 30px; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.navbar a { color: #ffffff; padding: 12px 20px; text-decoration: none; font-weight: bold; }

/* Box Style - Αριστερά */
.box { 
    background: white; padding: 20px; border-radius: 10px; 
    width: 650px; /* Το πλάτος της παλιάς προσομοίωσης */
}
